# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter / Colab
.ipynb_checkpoints/

# Entornos
.venv/
venv/
env/

# Variables y secretos
.env
.env.*
!.env.example

# Dataset local
*.zip
datalake/

# Archivos de datos que no deben versionarse
data/*.csv
data/*.json
data/*.jsonl
data/*.parquet

# Spark
spark-warehouse/
metastore_db/
derby.log

# Sistema operativo
.DS_Store
Thumbs.db
